<div class="form-group">
    <label for="sel1">Categoria</label>
    <select id="sel1" class="form-control" ng-model="selectedCategory" placeholder="Categoria">
    <option ng-repeat="category in categories" value="{{category.subcategory.id}}">{{category.subcategory.name}}</option>
</select>

    <button class="btn btn-lg btn-secondary" ng-click="searchSubcategories(selectedCategory)"> Buscar linhas </button>

</div>

<div class="form-group" ng-show="showSubcategories">
    <label for="sel2">Linha</label>
    <select class="form-control" id="sel2" ng-model="selectedSubcategory">
        <option ng-repeat="category in subcategories" value="{{category.subcategory.id}}">{{category.subcategory.name}}</option>
    </select>
    <input class="form-control" type="text" ng-model="brand" placeholder="Marca (opcional)"></input>
    <button class="btn btn-lg btn-secondary" ng-click="searchItens(selectedSubcategory, selectedCategory, brand)"> Buscar </button>
</div>

<button class="btn btn-lg btn-secondary" ng-show="showExport" ng-json-export-excel data="offers" report-fields="{'categoryid' :'categoria_ID', 'sellerId': 'ID_vendedor', 'sellerName': 'Nome do vendedor', 'price': 'Preço do item', 'offername': 'Nome', 'offershortname': 'Short name','sku': 'sku', 'thumbnail': 'Foto'}" filename=" 'export-excel' " separator=";">Download CSV</button>